body {
  background-color: beige;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

main {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

div.calculator {
  border: 1px solid black;
  width: 30%;
  height: 500px;
}

/*Screen/ Displays*/
div.screen-container {
  height: 150px;
  position: relative;
}

p.primary-display {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1% 2% 0 5%;
  font-size: 4.9em;
  border: 1px solid black;
}

p.secondary-display {
  position: absolute;
  right: 0;
  font-size: 1.1em;
  margin: 3% 3% 0 3%;
  height: 50px;
  overflow: auto;
}

/*Buttons*/

div.btns-container {
  height: 70%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

div.btn {
  text-align: center;
  padding: 20% 0;
  font-size: 1.9em;
  cursor: pointer;
}

div.number {
  background-color: #fce2ff;
}

div.number:hover {
  background-color: #fcaeea;
}

div.ops {
  background-color: #e1c3e5;
}

div.ops:hover {
  background-color: #bc70cc;
}

div.clear {
  background-color: #dbadad;
}

div.clear:hover {
  background-color: #d66868;
}

div.equals {
  background-color: #cfe2cc;
}

div.equals:hover {
  background-color: #8edd7c;
}

/*Scroll bar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
